<nav class="navbar navbar-expand-md fixed-top bg-primary p-2">
    <div class="container">
        <a class="navbar-brand text-light" routerLink="/">Dating App</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @if (accountService.currentUser()) {
                <li class="nav-item">
                    <a routerLink="/members" routerLinkActive="active" class="nav-link text-light">Matches</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lists" routerLinkActive="active" class="nav-link text-light">Lists</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" routerLinkActive="active" class="nav-link text-light">Messages</a>
                </li>
                <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
                    <a routerLink="/admin" routerLinkActive="active" class="nav-link text-light">Admin</a>
                </li>
            }
            <li class="nav-item">
                <a routerLink="/errors" routerLinkActive="active" class="nav-link text-light">Errors</a>
            </li>
        </ul>

        @if (accountService.currentUser()) {
            <div class="dropdown" dropdown>
                <img class="me-2" src="{{accountService.currentUser()?.photoUrl || './assets/user.png'}}" alt="user main photo">
                <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{accountService.currentUser()?.knownAs}}</a>
                <ul class="dropdown-menu dropdown-menu-right mt-1 py-1" *dropdownMenu>
                    <li routerLink="/member/edit" class="dropdown-item">Edit profile</li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item" (click)="logout()">Logout</li>
                </ul>
            </div>
        }

        @if (!accountService.currentUser()) {
            <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
                <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
                <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
                    type="password">
                <button class="btn btn-light" type="submit">Login</button>
            </form>
        }
    </div>
</nav>