.nv-file-over {
    border: 2px dotted rgb(52, 89, 230);
}

.img-container {
    position: relative;
}

div.toBeApproved {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30%;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

img.toBeApproved {
    opacity: 0.2;
}